<div class="channel">
  <div class="channel-details">
    <div class="name">
      Channel: <%= link_to i["display_name"], i["url"] %>
    </div>
    <div class="views">
      Views: <%= i["views"] %>
    </div>
    <div class="followers">
      Followers: <%= i["followers"] %>
    </div>
  </div>
</div>
