<div class="channel">
  <div class="name">
    Channel Name: <%= i["display_name"] %>
  </div>
  <div class="channel url">
    URL: <%= link_to i["url"], i["url"] %>
  </div>
  <div class="views">
    Views: <%= i["views"] %>
  </div>
  <div class="followers">
    Followers: <%= i["followers"] %>
  </div>
</div>
