<div class="ign">
  <% if @ign_response[0]["score"] == 0 %>
    Game was not reviewed.
  <% else  %>
    Score on Ign:<%= @ign_response[0]["score"] %><br>
  <% end %>
  Game description: <%= @ign_response[0]["short_description"] %>
</div>
<div class="total">
  Total Channels:<%= @response["_total"] %><br>
</div>
<% @response["channels"].each do |i| %>
  <%= render "channel", :i => i %>
<% end %>
